<!doctype>
<html>
  <head>
    <title>{{title}}</title>

    <script id="errorless" src='{{static 'client/log.js?u=1234'}}'></script>
    <script id="errorless" src='{{static 'client/logs.js?u=1234'}}'></script>

    <script src='{{static '/test_error.js'}}'></script>

    <script>

    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
